@import 'Styles/_layout.scss';

#signIn {
  @include size;
  display: grid;
  grid-template-columns: 1fr minmax(350px, 400px) 1fr;
  grid-template-rows: minmax(0, 100px) auto 1fr;
  background-size: cover;
  transition: 0.2s all linear;
  .signIn-area {
    padding: 40px 40px;
    border-radius: 5px;
    grid-column: 2;
    grid-row: 2;
    .icon {
      text-align: center;
      .icon-image {
        width: 100px;
        height: 100px;
      }
      .logo {
        @include flex;
        .logo-image {
          width: 110px;
          height: 30px;
          margin-right: 3px;
        }
        .text {
          margin-top: 13px;
          letter-spacing: 2px;
          font-size: 17px;
          color: #7d96aa;
        }
      }
    }
    .line {
      padding-top: 40px;
      margin: 10px 0;
      border-bottom: 1px solid rgb(234, 241, 248);
    }
    .line-text {
      text-align: center;
      letter-spacing: 10px;
      padding-left: 10px;
      font-size: 16px;
      color: #acb7cc;
      
    }
    .form {
      padding-top: 40px;
      // antd
      .ant-form-item-label > label {
        color: #65b7d0;
      }
      .ant-btn-primary {
        background-color: #68c2dd;
        border-color: #68c2dd;
      }
    }
  }
}
